body {
  display: block;
  text-align: center;
  background-color: #f4b354;
  height: 100%;
}
h1 {
  color: white;
  font-size: 64px;
}
h3 {
  color: #f4b354;
}
p {
  color: #f4b354 !important;
}
.body-container {
  margin-top: 10px;
  height: fit-content;
  background-color: #c65405;
  padding: 20px 15px;
  width: 90%;
}
.links {
  padding: 30px;
}
